*{
	margin: 0;
	padding: 0;
	font-size: 1em;
}
li{
	list-style: none;
	text-align: center;
	display: inline-block;
}

.wrapper{
	margin: 0 auto;
	width: 1000px;
	border-left: 1px solid #444;
	border-right: 1px solid #444;
	border-bottom: 2px solid #000;
}
.asia_pic{
	width: 320px;
	height: 175px;
	background-image: url("../img/asia-pic.png");
	float: left;
}
.contact{
	padding: 5px 0 10px 252px;
	color: #41a1b9;
	font-size: 1em;

}
.header_side{
	float: right;
	margin-right: 10px;
}
.cf::after{
	content: "";
	clear: both;
	display: block;
}
.countries{
	padding: 5px;
}
.flag1{
	width: 42px;
	height: 44px;
	margin: 9px;
	background: url("../img/flag1.png"); 
}
.flag2{
	width: 42px;
	height: 44px;
	margin: 9px;
	background: url("../img/flag2.png"); 
}
.flag3{
	width: 42px;
	height: 44px;
	margin: 9px;
	background: url("../img/flag3.png"); 
}
.flag4{
	width: 42px;
	height: 44px;
	margin: 9px;
	background: url("../img/flag4.png"); 
}
.flag5{
	width: 42px;
	height: 44px;
	margin: 9px;
	margin-left: 15px;
	background: url("../img/flag5.png"); 
}
.flag6{
	width: 42px;
	height: 44px;
	margin: 9px;
	background: url("../img/flag6.png"); 
}

.view{
	height: 237px;
	width: 1000px;
	background: url("../img/view.png");
	border-bottom: 1px solid #222;
}
.menu_bar{
	width: 100%;
	margin-left: -1px;
	box-sizing:border-box;
}

/*dropdown menu*/
.menu_bar ul li ul{
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: #333;
	padding: 0;
	z-index: 1;
}
.menu_bar ul ul li{
	width: 143px;
	position: relative;
}
.menu_bar ul li:hover{
	background:#555;
}

.menu_bar ul li ul li{
	display: block;
}

.menu_bar ul li:hover>ul{
	display: block;
}


.menu_bar a{
	text-decoration: none;
	color:#ddd;
}
.menu_bar ul  li{
	line-height: 25px;
	height: 35px;
	width: 144px;
	background: #333;
	padding: 5px;
	position: relative;
	margin-right: -5px;
	box-sizing:border-box;
	text-decoration: none;
}


/*columns*/

.fon1 {  
	width: 100%;
	background: #edeef0;
	float: left;
	position: relative; 
	right: 58%; 
}
.fon2 {
	width: 100%;	
	background: #fff;
	float: left;
	position: relative;
	right: 21%; 
}
.fon3 {
	width: 100%;
	background: #edeef0;
	float: left;
}
.leftColumn {
	width: 21%;
	float: left;
	overflow: hidden; 
	position:relative;
	left: 79%; 
	padding: 8px;
	box-sizing:border-box;

}
.centerColumn {
	width: 58%;
	float: left;
	overflow: hidden;
	position:relative;
	left: 79%;
	padding: 8px;
	box-sizing:border-box;

}
.rightColumn {
	width: 21%;
	float: left;
	overflow: hidden;
	position:relative;
	left: 79%;
	padding: 8px;
	box-sizing:border-box;

}
.columns{
	overflow: hidden;
}
body { 
  width:100%;
  background-repeat: no-repeat;
  background-size: 100% 30px, 100% 177px, 100%;
  background-position: 0 0, 0 0, 0 0;
  background-image: 
    -webkit-linear-gradient(#128aa7, #128aa7),
    -webkit-linear-gradient(#13cee2, #ffffff),
    -webkit-linear-gradient(#40c5d3, #0c74a0);
}
.header{
	background: #fff;
}
.footer{
	padding: 5px;
	text-align: center;
}
.dropdown{
	padding-top: 5px;
	overflow: hidden;
}